<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bucketlist</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
  </head>
  <body>
    <h1>Sanity Check</h1>
    <div class="container">
      <div class="row">
        <script id="wish-template" type='text/x-handlebars-template'>
          <div class="col-md-10 col-md-offset-2">
            <div class="{{type}}">
              <!-- <img src={{imgUrl}}> -->
              <h3>{{name}}</h3>
              <p>{{price}}</p>
              <p>{{location}}</p>
              <p>{{dateToVisit}}</p>
              <a href="{{websiteLink}}">Website</a>
              <p>{{description}}</p>
              <p>{{contactInfo.address}}</p>
              <p>{{contactInfo.email}}</p>
              <p>{{contactInfo.phoneNumber}}</p>
              <p>{{tags}}</p>
              <p>{{status}}</p>
            </div>
          </div>
        </script>
      </div>
    </div>
  </body>
</html>