<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="./styles/styles.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="scripts/scripts.js"></script>

  <title>Simple Login</title>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="../">Bucket List</a>
      </div>

    </div>
  </nav>
  <div class="container text-center">
    <div class="form row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Log In</h1>
        <hr>

        <form id="login-form" method="POST" action="/sessions">
          <!-- TODO: When will this error message be displayed? There doesn't seem to be any logic in script.js or on server.js to notify of an error -->
          <div class="alert alert-danger" id="user-not-found" role="alert">
            <strong>Oh snap!</strong> <a href="#" class="alert-link">Email or/and password not found!</a> Try submitting again.
          </div>
          <div class="form-group">
            <input type="text" id="username" name="username" class="form-control"  placeholder="Username" autofocus required>
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password" required>
          </div>
          <div class="form-group">
            <input type="submit" value="Log In" class="btn btn-primary">
          </div>
          <a href="/signup">Sign Up</a>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
