body {
  background-color: lightblue; /*Sanity Check*/
}

.profile-picture {
height: 200px;
width: 200px;

}

.jumbotron {
  margin-top: 40px;
}

.aside-container {
  z-index: 1;
  float: left;
}

.new-form {
  z-index: 1;
  background-color: #eeeeee;
  padding: 10px;
}

#wishes {
  float: right;
}

.description {
  vertical-align: top;
}