body {
  background-color: lightblue; /*Sanity Check*/
}

.profile-picture {
margin-top: 100px;
height: 200px;
width: 200px;

}

.new-form {
  z-index: 1;
  background-color: #eeeeee;
  padding: 10px;
}